<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <img
          src="/images/logo_caption_sm.png"
          style="width: 100px; height: 100px"
          alt="logo"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admin"
                >Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/UpReport">UP Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/combined-reports"
                >Combined Reports</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/getfarmerinfo">Farmer Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/admin/addproduct"
                >Add Product</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updateprice">Update Price</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updateagent">Update Agent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updatebudget">Update Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updatetax">Update Tax</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/addloan">Add Loan</a>
            </li>
            <li class="nav-item dropdown">
              <p
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Feedback
              </p>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/farmerfeedbacks"
                  >Farmer Feedback</a
                >
                <a class="dropdown-item" href="/admin/agentfeedbacks"
                  >Agent Feedback</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      style="
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 2%;
      "
    >
      <h4>Add New Product</h4>
      <div
        class="alert alert-dismissible alert-success"
        id="success"
        style="display: none"
      >
        <button type="button" class="btn-close" onclick="cls2()"></button>
        Product added successfully!
      </div>
      <div
        class="alert alert-dismissible alert-danger"
        id="errormsg"
        style="display: none"
      >
        <button type="button" class="btn-close" onclick="cls()"></button>
        Something went wrong! Try again later!!
      </div>
      <div class="form-outline mb-4" style="padding-top: 3%">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control form-control"
          placeholder="Product Name"
          required
        />
      </div>
      <div class="form-outline mb-4" style="padding-top: 1%">
        <input
          type="number"
          id="price"
          name="price"
          class="form-control form-control"
          placeholder="Unit Price"
          required
        />
      </div>
      <div class="form-outline mb-4" style="padding-top: 1%">
        <select class="form-select" name="farmerType" id="farmerType" required>
          <option value="" disabled selected hidden>Farmer Type</option>
          <option value="1">Dairy Farmer</option>
          <option value="2">Poultry Farmer</option>
        </select>
      </div>
      <button
        id="back"
        type="reset"
        class="btn btn-light btn-lg"
        onclick="reset()"
      >
        Reset
      </button>
      <button
        id="proceed"
        type="button"
        class="btn btn-warning btn-lg ms-2"
        onclick="submit()"
      >
        Add
      </button>
    </div>
    <script>
      function reset() {
        document.getElementById("name").value = "";
        document.getElementById("price").value = "";
        document.getElementById("farmerType").options[0].selected = true;
      }

      async function postData(url = "", data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        });

        return response.json(); // parses JSON response into native JavaScript objects
      }

      function submit() {
        cls();
        cls2();
        let name = document.getElementById("name").value;
        let price = document.getElementById("price").value;
        let type = document.getElementById("farmerType").value;
        if (name == "" || price == "" || type == "") {
          alert("Please fill all the fields!");
          return;
        } else if (parseFloat(price) <= 0) {
          alert("Amount must be greater than zero!");
          return;
        }
        postData("addproduct/add-a-product", {
          product_name: name,
          un_price: price,
          farmer_type: type,
        }).then((data) => {
          if (data.success) {
            document.getElementById("success").style.display = "block";
            reset();
          } else {
            document.getElementById("errormsg").style.display = "block";
          }
        });
      }

      function cls() {
        document.getElementById("errormsg").style.display = "none";
      }

      function cls2() {
        document.getElementById("success").style.display = "none";
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
