<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/images/logo_caption_sm.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <title><%= locals.title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <img
          src="/images/logo_caption_sm.png"
          style="width: 100px; height: 100px"
          alt="logo"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/admin"
                >Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/UpReport">UP Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/combined-reports"
                >Combined Reports</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="admin/getfarmerinfo">Farmer Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/addproduct">Add Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updateprice">Update Price</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updateagent">Update Agent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updatebudget">Update Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updatetax">Update Tax</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/addloan">Add Loan</a>
            </li>
            <li class="nav-item dropdown">
              <p
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Feedback
              </p>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/farmerfeedbacks"
                  >Farmer Feedback</a
                >
                <a class="dropdown-item" href="/admin/agentfeedbacks"
                  >Agent Feedback</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="card mb-3" style="text-align: center">
      <div class="card-body">
        <h3 class="card-header">Admin Dashboard</h3>
      </div>
    </div>
    <div style="text-align: center; padding-top: 3%">
      <div style="background-color: white; color: black">
        <h3>Overview</h3>
        <h5>Total farmers registered: <%= farmerNumber %></h5>
        <h5>Total loan given: <%= loan %></h5>
        <h5>Total tax received: <%= tax %></h5>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
